Flask
Flask-SQLAlchemy
SQLAlchemy
Flask-Migrate
python-dotenv
Werkzeug
torch==2.2.0+cpu --extra-index-url https://download.pytorch.org/whl/cpu
torchvision==0.17.0+cpu --extra-index-url https://download.pytorch.org/whl/cpu
ultralytics==8.0.215
opencv-python
numpy
matplotlib
requests
pymysql
cryptography
gunicorn
