Flask
Flask-SQLAlchemy
SQLAlchemy
Flask-Migrate
python-dotenv
Werkzeug

# PyTorch CPU (Railway-friendly)
torch==2.2.2
torchvision==0.17.2

# YOLOv8
ultralytics==8.0.215

# CV + Utils
opencv-python==4.8.1.78
numpy
matplotlib
requests

# Database + Security
pymysql
cryptography

# Production server
gunicorn
